<header class="header">
  <div class="container">
    <div class="header__logo logo">
      <a href="index.html"><img src="img/logo.svg" alt="ЛОГОТИП"></a>
    </div>

    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="index.html" class="nav__link">Главная</a>
        </li>
        <li class="nav__item">
          <a href="#menu" class="nav__link">Меню</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#reservation" class="nav__link">Бронь</a>
        </li>
        <li class="nav__item">
          <a href="cart.html" class="nav__link">
            <svg class="cart-img">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="tel:9998887654" class="nav__link nav__link--phone">+999-888-76-54<span>Свяжитесь с нами для
              бронирования</span></a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link btn btn-reset">Заказ столика</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
